<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/Content/css/style.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>PIZZABITES</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Index">PIZZABITES</a>
            </div>
            <div class="navbar-collapse collapse" id="navbarResponsive">
                <ul class="navbar-nav me-auto" style="align-items:center">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/HomePage">
                            Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/ProductPage">Menu</a>
                    </li>
                    @if (Session["CUSName"] != null)
                    {
                        if (Session["CUSName"] == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="#">Manager</a>
                                @*<a class="nav-link" href="/Admin/AdminPanel">Profile-@Session["CUSName"]</a>*@
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/ContactUsTable">Contact</a>

                            </li>  </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/UserTable">User Details</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/OrderHistory">Order Details</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/AddItem">Add Item</a>

                            </li>
                        }
                        else
                        {
                            <a class="nav-link" href="/Home/CustomerProfile">Profile</a>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/OrderHistory">Order History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Orders">Order</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/ContactUs">Contact</a>
                            </li>
                        }


                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Login">Login</a>
                        </li>
                    }
                </ul>
                <form method="post" action="/Home/ProductSearch" class="form-inline my-2 my-lg-0 mx-3">
                    <input class="form-control mr-sm-2" type="search" name="search" id="search" placeholder="Search" aria-label="Search" required>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

                </form>

            </div>
        </div>
    </nav>


    @RenderBody()
    <hr />

    <!--Footer section starts-->
    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-twitter"></i>
                </a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-google"></i>
                </a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-instagram"></i>
                </a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-linkedin-in"></i>
                </a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-github"></i>
                </a>
            </section>
            <!-- Section: Social media -->
            <!-- Section: Text -->
            <section class="mb-4">
                <h2> FOLLOW US </h2>
            </section>
            <!-- Section: Text -->
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Contact Us</h5>
                        <div class="place">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text"> Mirpur, Dhaka </span>
                        </div>
                        <div class="phone">
                            <span class="fas fa-phone-alt"></span>
                            <span class="text"> +8801770620552 </span>
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Delivery Partners</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Foodpanda</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Pathao</a>
                            </li>

                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Privacy Policy</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Partners</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">HELP</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">FAQ</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">SUPPORT</a>
                            </li>

                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Pizzabites: All rights reserved.
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
